extends layout

block content
    .w3-card-4
        header.w3-container.w3-cyan
            h3.w3-center Tabela Periódica
        .w3-container
                header.w3-container.w3-light-blue.w3-margin-top
                    h4.w3-center Grupo #{numero} - #{nome}
                table(class="w3-table-all")
                    tr 
                        th.w3-pale-blue.w3-center Elementos constituintes do Grupo #{numero}          
                    each g in grupo
                        if (g.o)
                            if (g.p == 'element')
                                tr
                                    td.w3-center
                                        a(href=prefixo + "elementos/" + g.o)= g.o
        footer(class="w3-container w3-cyan")
            adress.w3-right Diogo Pereira
            a(href="javascript:history.back()") Voltar
            adreess /
            a(href="/") Home
